= javascript_include_tag 'application'

%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"

#data-viz
  %h2= t 'active_admin.keyserver.columns_heading.columns_heading'
  #left-col
    %h3= t 'active_admin.keyserver.left_column_heading'
    = column_chart Keyserver::Computer.group(:computer_display_model).count.sort_by {|k,v| v}.reverse[0..4]

  #right-col
    %h3= t 'active_admin.keyserver.right_column_heading'
    = bar_chart Keyserver::Program.group(:program_publisher).count.sort_by {|k,v| v}.reverse[0..9]