= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :name
    = f.input :comments
    = f.input :report_template_id, label: "Report Template", as: :select, collection: Report::Template.all.collect{|t| [t.name, t.id]}, include_blank: I18n.t("phrases.please_select")
    = f.hidden_field :select_section_with_aggregates, as: :text
    = f.input :select_section, label: "Select Section", as: :check_boxes, :collection => f.object.checkbox_options_for_select_section
    = f.input :from_section, label: "From Section", as: :select , :collection => TableRetrieval.all_tables, include_blank: I18n.t('phrases.please_select')
    = f.input :join_section, label: "Join Section", as: :text
    = f.input :where_section, label: "Where Section", as: :text
    = f.input :group_by_section, label: "Group By Section", as: :radio, :collection => f.object.radio_options_for_group_by_section
    = f.input :order_section, label: "Order By Section", as: :radio, :collection => f.object.radio_options_for_order_section
    = f.input :order_direction_section, label: "Order By Direction", as: :select, :collection => ["ASC", "DESC"], selected: f.object.order_direction_section, include_blank: true

    = f.actions
