= javascript_include_tag 'application'

%section
  %h2 Introduction
  The #{link_to "Springshare", "https://www.springshare.com/"} LibApps platform
  is a software-as-a-service platform for online services targeted at libraries.
  It provides access to appointment calendars, online forms, room calendars,
  chat functions and many other tools.

%hr
%section
  %h2 Data
  %ul
    %li #{link_to "LibCal Data - Appointments and Bookings", :springshare_libcal}
    %li 
      LibAnswers Data 
      %ul 
        %li #{link_to "LibTickets", :springshare_libanswers}
        %li #{link_to "LibChat", :springshare_libchat}
        %li #{link_to "InquiryMap", :springshare_inquirymap} - Text mining LibChats
    %li #{link_to "Consultation/Instruction Data", :admin_consultation}
