%h2= t 'active_admin.dashboard_heading'

%p
  = t 'active_admin.dashboard_text_html'
  %ul
    %li
      IvyPlus
      %ul
        - if authorized?(:read, "Borrowdirect")
          %li= link_to "BorrowDirect", "/admin/borrowdirect"
        - if authorized?(:read, "EzBorrow")
          %li= link_to "E-Z Borrow", "/admin/ezborrow"
        - if authorized?(:read, "Illiad")
          %li= link_to "ILLiad", "/admin/illiad"
    - if authorized?(:read, "Keyserver")
      %li= link_to "Keyserver", "/admin/keyserver"
    - if authorized?(:read, "GateCount")
      %li= link_to "Gate counts", "/admin/gatecount"
    - if authorized?(:read, "Marc")
      %li= link_to "Marc data", "/admin/marcdata"
    - if authorized?(:read, "SupplementalData")
      %li= link_to "Supplemental data", "/admin/supplementaldata"
