= javascript_include_tag 'application'

-# Access form option for the pennkey
- pennkey = params[:staff_pennkey].nil? ? null : params[:staff_pennkey]

-# Set date range using form input or default range
- start_date, end_date = minimize_date_range(params[:start_date], params[:end_date], pennkey)

-# Using chartkick to create quick dashboard
%h2 Statistics for #{pennkey}

%hr

-# Generate all needed statistics
- events, timeline = event_groups([start_date, end_date], pennkey)
- consultations_hash = events["Consultation"]
- instructions_hash = events["Instruction"]

-# Define the log axes
- logy = {scales: {yAxes: [{id: 'y-axis', type: 'logarithmic'}]}}
- logx = {scales: {xAxes: [{id: 'x-axis', type: 'logarithmic'}]}}

- if timeline["Consultation"].sum { |_,v| v }  == 0 and timeline["Instruction"].sum { |_,v| v } == 0
  %h3{style: "text-align:center;"} No data available in this time range.
- else
  %h2 Timeline
  #data-viz
    #single-col
      = line_chart [{name: "Consultations", data: timeline["Consultation"], library: {lineTension: 0}},
        {name: "Instruction", data: timeline["Instruction"], library: {lineTension:0}}],
        download: true

%hr
%h2 Consultations
%hr

- if timeline["Consultation"].sum { |_,v| v }  == 0
  %h3{style: "text-align:center;"} No Data to Report
- else

  %h2 Statistics

  %table{align: "center", border: "1", cellpadding: "5"}
    %thead
      %tr
        %td Statistic
        %td Value
        %td Nulls
    %tbody
      %tr
        %td Average Event Length (minutes):
        %td{align: "right"} #{consultations_hash["event_length"].first}
        %td{align: "right"} #{consultations_hash["event_length"].last}
      %tr
        %td Average Preparation Time (minutes):
        %td{align: "right"} #{consultations_hash["prep_time"].first}
        %td{align: "right"} #{consultations_hash["prep_time"].last}
      %tr
        %td Total Number of Interactions:
        %td{align: "right"} #{consultations_hash["number_of_interactions"].first}
        %td{align: "right"} #{consultations_hash["number_of_interactions"].last}

  #data-viz
    #left-col
      %h3 Patron Types
      = pie_chart consultations_hash["patron_type"], download: true
    #right-col
      %h3 Goal of Appointment
      = pie_chart consultations_hash["outcome"], download: true

  %h2 Alternate plot style
  #data-viz
    #left-col
      %h3 Patron Types
      = bar_chart consultations_hash["patron_type"], library: logx, download: true
    #right-col
      %h3 Goal of Appointment
      = bar_chart consultations_hash["outcome"], library: logx, download: true

  %h2 Community
  #data-viz
    #left-col
      %h3 School Affiliations
      = pie_chart consultations_hash["school_affiliation"], download: true
    #right-col
      %h3 Research Subject Area
      = pie_chart consultations_hash["research_community"], download: true

  #data-viz
    #single-col
      %h3 Associated Department
      = column_chart consultations_hash["department"], library: logy, download: true

  %h2 Methods
  #data-viz
    #left-col
      %h3 Mode of Consultation
      = pie_chart consultations_hash["mode_of_consultation"], download: true
    #right-col
      %h3 Service Provided
      = pie_chart consultations_hash["service_provided"], download: true

%hr
%h2 Instruction
%hr

- if timeline["Instruction"].sum { |_,v| v }  == 0
  %h3{style: "text-align:center;"} No Data to Report
- else

  %h2 Statistics

  %table{align: "center", border: "1", cellpadding: "5"}
    %thead
      %tr
        %td Statistic
        %td Value
        %td Nulls
    %tbody
      %tr
        %td Average Event Length (minutes):
        %td{align: "right"} #{instructions_hash["event_length"].first}
        %td{align: "right"} #{instructions_hash["event_length"].last}
      %tr
        %td Average Preparation Time (minutes):
        %td{align: "right"} #{instructions_hash["prep_time"].first}
        %td{align: "right"} #{instructions_hash["prep_time"].last}
      %tr
        %td Median Registration:
        %td{align: "right"} #{instructions_hash["number_of_registrations"].first}
        %td{align: "right"} #{instructions_hash["number_of_registrations"].last}
      %tr
        %td Median Attendence:
        %td{align: "right"} #{instructions_hash["total_attendance"].first}
        %td{align: "right"} #{instructions_hash["total_attendance"].last}

  %h2 Community
  #data-viz
    #left-col
      %h3 School Affiliations
      = pie_chart instructions_hash["school_affiliation"], download: true
    #right-col
      %h3 Research Subject Area
      = pie_chart instructions_hash["research_community"], download: true

  #data-viz
    #single-col
      %h3 Associated Department
      = column_chart instructions_hash["department"], library: logy, download: true

  %h2 Session Description
  #data-viz
    #left-col
      %h3 Session Type
      = pie_chart instructions_hash["session_type"], download: true
    #right-col
      %h3 Session Location
      = pie_chart instructions_hash["location"], download: true

%hr
%h2{style: "text-align:center;color:DarkGreen;"} Keep up the good work!  What you do is amazing!

%h1{style: "text-align:center;"}For more information about the data source, contact #{mail_to "sarnoa@upenn.edu", "Andy Sarno"}
