= javascript_include_tag 'application'

%h3

  We welcome feedback on our dashboards. If you have any suggestions for 
  improvement (or to share something cool about the data) 
  please fill out our 
  #{link_to "survey", "https://forms.office.com/Pages/ResponsePage.aspx?id=nZRNbBy5RUyarmbXZEMRDUHfwE8JsXJPj5x7kxzooBlUN1RENjE3NTJNR1AwS0sxU0IySUxWVEJEUi4u"}.

-# Establish the model
- chats = Springshare::Libchat::Chat

- params[:fiscal_year] ||= chats.maximum(:fiscal_year)

-# Form to update filters on page
%center
  The default year is set to the current fiscal year.
  = form_tag(nil, {method: :get}) do
    %table{:style => "background-color:#DADADA; margin: 10px;"}
      %tr
        %td Filter on Fiscal Year:
        %td
        %td
          = select_tag :fiscal_year, 
            options_for_select(chats.distinct.order(:fiscal_year).pluck(:fiscal_year),
              params[:fiscal_year])
        %td{rowspan:0}= submit_tag "Filter"
      %tr
        %td Filter on Librarian:
        %td
        %td
          = select_tag :answerer, 
            options_for_select(chats.distinct.order(:answerer).pluck(:answerer),
              params[:answerer]),
            include_blank: "All Librarians"

%hr
-# Filter result
- chats = springshare_libchat_filtered_chats(params)

%h2 Showing Chat Statistics for FY#{params[:fiscal_year]} and #{params[:answerer] || "All Librarians"}
%center
  In FY#{params[:fiscal_year]}, you answered #{format_big_number(chats.count)} LibChat Queries.
  %br
  In FY#{params[:fiscal_year]}, you created 
  #{chats.where.not(ticket_id: 0).count} 
  Tickets on behalf of Patrons from LibChat Queries.
  %br
  In FY#{params[:fiscal_year]}, you exchanged 
  #{format_big_number(chats.sum(:message_count))} 
  messages with Patrons during your LibChat sessions.
  %br
  In FY#{params[:fiscal_year]}, you spent 
  #{format_big_number(chats.sum(:duration).fdiv(60).round(0))} 
  minutes in LibChat sessions helping Patrons.
  %br 
  %br
  Congratulations on the excellent support you are providing!

%hr
%h2 Chat Activity of #{params[:answerer] || "All Librarians"} in FY#{params[:fiscal_year]}

= line_chart [{name: "All Chats", data: chats.group_by_week(:timestamp).count},
  {name: "Chats with Tickets", data: chats.where.not(ticket_id: 0).group_by_week(:timestamp).count}],
  title: "Chats by Week",
  download: true,
  xtitle: "Week of Year",
  ytitle: "Number of Chats",
  curve: false

- chat_data = chats.group_by_day_of_week(:timestamp, format: "%A").count.select{|k,v| !v.nil? && (v > 0)}
- ticket_data = chats.where.not(ticket_id: 0).group_by_day_of_week(:timestamp, format: "%A").count.select{|k,v| !v.nil? && (v > 0)}

= line_chart [{name: "All Chats", data: chat_data},
  {name: "Chats with Tickets", data: ticket_data}],
  title: "Chats by Day of Week",
  download: true,
  xtitle: "Day of Week",
  ytitle: "Number of Chats",
  curve: false

- chat_data = chats.group_by_hour_of_day(:timestamp, format: "%l%p").count.select{|k,v| !v.nil? && (v > 0)}
- ticket_data = chats.where.not(ticket_id: 0).group_by_hour_of_day(:timestamp, format: "%l%p").count.select{|k,v| !v.nil? && (v > 0)}
= line_chart [{name: "All Chats", data: chat_data},
  {name: "Chats with Tickets", data: ticket_data}],
  title: "Chats by Hour of Day",
  download: true,
  xtitle: "Hour of Day (Eastern Time)",
  ytitle: "Number of Chats",
  curve: false

%hr
%h2 Interaction Statistics of #{params[:answerer] || "All Librarians"} in FY#{params[:fiscal_year]}
%div{style: "width: 100%; display: flex; align-items: stretch;"}
  %div{style: "width: 47%;"}
    %table.data_summary
      %thead 
        %tr 
          %th 
          %th{style: "text-align: right"} Minimum
          %th{style: "text-align: right"} Average
          %th{style: "text-align: right"} Maximum 
      %tbody
        %tr
          %th Chat Duration (minutes)
          %td{style: "text-align: right"}= chats.minimum(:duration).fdiv(60).round(0)
          %td{style: "text-align: right"}= chats.average(:duration).fdiv(60).round(0)
          %td{style: "text-align: right"}= chats.maximum(:duration).fdiv(60).round(0)
        %tr
          %th Number of Messages
          %td{style: "text-align: right"}= chats.minimum(:message_count)
          %td{style: "text-align: right"}= chats.average(:message_count).round(0)
          %td{style: "text-align: right"}= chats.maximum(:message_count)
        %tr
          %th Patron Wait Time (Seconds)
          %td{style: "text-align: right"}= chats.minimum(:wait_time)
          %td{style: "text-align: right"}= chats.average(:wait_time).round(0)
          %td{style: "text-align: right"}= chats.maximum(:wait_time)

    = bar_chart springshare_libchat_group_duration(chats),
      title: "Duration of Chats",
      download: true,
      xtitle: "Number of Chats",
      ytitle: "Length of Chat (minutes)",
      height: "500px"

  %div{style: "margin-left: 6%; width: 47%;"}
    = bar_chart springshare_libchat_group_messages(chats).reverse,
      title: "Number of Chat Messages Exchanged",
      download: true,
      xtitle: "Number of Chats",
      ytitle: "Number of Messages"

    = bar_chart springshare_libchat_group_wait_time(chats).reverse,
      title: "Patron Wait Time for Chats",
      download: true,
      xtitle: "Number of Chats",
      ytitle: "Wait Time (Seconds)"
    %center * Bins are Variable in size *

%hr
%h2 Patron Demographics for #{params[:answerer] || "All Librarians"} in FY#{params[:fiscal_year]}
%center 
  * Note that although patrons are asked to identify by PennKey, it is not required to start a chat *

%div{style: "width: 100%; display: flex; align-items: stretch;"}
  %div{style: "width: 47%;"}
    - affiliations, affiliation_percentages = springshare_libchat_rollup(chats, "school")
    = pie_chart affiliation_percentages, 
      suffix: "%", 
      round: 2, 
      download: true, 
      title: "Patron Affiliation",
      legend: "left",
      height: "400px"

  %div{style: "margin-left: 6%; width: 47%;"}
    - user_groups, user_group_percentages = springshare_libchat_rollup(chats, "user_group")
    = pie_chart user_group_percentages, 
      suffix: "%", 
      round: 2, 
      download: true, 
      title: "Patron Type",
      legend: "right",
      height: "400px"
