= javascript_include_tag 'application'

%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human(count: 2), "/admin/#{resource.resource_name.param_key.pluralize}"
- sources = ["reshare", "illiad", "borrowdirect", "other"]
- sources.each do |source|
  %h3= t("active_admin.log.jobs_heading", source: t("phrases.user_role_sections.#{source}", {default: "Other Sources"}))
  %table.data_summary
    %tr
      %th= Log::JobExecution.human_attribute_name(:id)
      %th= Log::JobExecution.human_attribute_name(:source_name)
      %th= Log::JobExecution.human_attribute_name(:job_type)
      %th= Log::JobExecution.human_attribute_name(:started_at)
      %th= Log::JobExecution.human_attribute_name(:status)
    - unless Log::JobExecution.parent_source(source, sources).exists?
      %tr
        %td{colspan: 4}= t("phrases.no_records_found")
    - Log::JobExecution.parent_source(source, sources).order(id: :desc).limit(10).each do |job|
      %tr{class: "#{job.status}" }
        %td= link_to job.id, admin_log_job_execution_steps_path("q[job_execution_id_equals]" => job.id)
        %td= job.source_name
        %td= job.job_type
        %td= job.started_at
        %td= job.status
  %br
