= javascript_include_tag 'application'

%section
  %h2 About the Data
  %p
    IPEDS is the Integrated Postsecondary Education Data System. It is a system
    of interrelated surveys conducted annually by the U.S. Department of
    Education’s National Center for Education Statistics (NCES). IPEDS gathers
    information from every college, university, and technical and vocational
    institution that participates in the federal student financial aid programs.
    The Higher Education Act of 1965, as amended, requires that institutions
    that participate in federal student aid programs report data on enrollments,
    program completions, graduation rates, faculty and staff, finances,
    institutional prices, and student financial aid.
    %br
    %br
    Source: #{link_to "About IPEDS", "https://nces.ed.gov/ipeds/about-ipeds"}
    %br
    %br
    More detailed information about each IPEDS data table in and preparation for
    MetriDoc appears below.


%hr
%section
  %h2 Resources
  %h3 Dashboards
  %ul
    %li= link_to "Exploratory IPEDS Dashboard", "/ipeds/dashboard"
  %h3 Data Tables
  %ul
    - resources.each do |resource|
      %li= link_to resource.resource_name.human, "/ipeds/#{resource.resource_name.param_key.pluralize}"

%hr
%section
  %h2 Data Release Timelines

  %h3 IPEDS
  %p
    IPEDS data release timelines are approximate and vary by year. The
    provisional completions data stored in MetriDoc are typically available in
    July/August for the previous academic year. Final revised data are released
    one year later. Data should therefore be updated in MetriDoc annually early
    in the fall semester, adding the most recent year of data and updating the
    prior year with the final revised data. For more information on IPEDS data
    collection and release schedules, visit the following links:

  %ul
    %li #{link_to "IPEDS Data Collection Schedule", "https://surveys.nces.ed.gov/ipeds/public/data-collection-schedule"}
    %li #{link_to "Timing of IPEDS Data Collection", "https://nces.ed.gov/ipeds/use-the-data/timing-of-ipeds-data-collection"}

  %h3 CIP Codes
  %p
    CIP codes typically undergo revisions every ten years. The CIP Code Lookup
    Table should be updated again in 2030. Relevant resources can be accessed
    at:

  %ul
    %li #{link_to "CIP Code Resources", "https://nces.ed.gov/ipeds/cipcode/resources.aspx?y=55"}

  %h3 STEM CIP Codes
  %p
    STEM CIP codes are designated by the Department of Homeland Security, which
    announces any updates to the list. As a best practice, it is recommended 
    that the lookup table is updated on an annual basis when new IPEDS data are
    imported.

%hr
%section
  %h2 Data Preparation

  %h3 Completions Table
  %p
    IPEDS collects data on the number of students who complete a postsecondary
    education program (completers) and the number of postsecondary awards earned
    (#{link_to "IPEDS Completions", "https://nces.ed.gov/ipeds/use-the-data/survey-components/7/completions"}).
    Business and industry, the military, and other groups that
    need to recruit individuals with particular skills use these data
    extensively.

  %h4 Data collected include:
  %ul
    %li
      Completions by field of study, award level, recipient race/ethnicity
      and gender;
    %li
      Completers by race/ethnicity, gender, and age (collected at the total
      as well as by award level); and
    %li
      Whether programs are offered via distance education
    %li
      Field of study is categorized according to the Classification of
      Instructional Programs (CIP), a detailed coding system for postsecondary
      instructional programs.

  %h4 Steps for producing the file for the Completions Schema Table:
  %ul
    %li Go to: #{link_to "IPEDS Data", "https://nces.ed.gov/ipeds/use-the-data"}
    %li Go to: Survey Data > Complete Data Files
    %li Download dictionary for completions dataset that includes CIP codes
    %li In the varlist tab, delete the varnumber column
    %li Delete any blank rows at the end of the file and save as a csv

  %h4 Steps for producing the files for the Completions Data Table:
  %ul
    %li Go to: #{link_to "IPEDS Data", "https://nces.ed.gov/ipeds/use-the-data"}
    %li Go to: Survey Data > Complete Data Files
    %li
      For each year of data download the data file for completions dataset
      that includes CIP codes
    %li
      In each file, add the column YEAR and fill it with the year the data
      are from
    %li Save each file as a csv

  %h3 Directory Tables
  %p
    Institutional characteristics are collected through two survey
    components: Institutional Characteristics Header and Institutional
    Characteristics. #{link_to "Institutional Characteristics", "https://nces.ed.gov/ipeds/use-the-data/survey-components/4/institutional-characteristics"}
    data are the foundation of the entire IPEDS system.

  %h4 Data collected include:
  %ul
    %li Basic institutional contact information;
    %li Student services information;
    %li Tuition/fees and other student charges;
    %li Control or affiliation;
    %li Type of calendar system; and
    %li Levels of awards and types of programs offered.

  %h4 Steps for producing the file for the Directory Schema Table:
  %ul
    %li Go to: #{link_to "IPEDS Data", "https://nces.ed.gov/ipeds/use-the-data"}
    %li Go to: Survey Data > Complete Data Files
    %li Download the most recent dictionary for directory dataset
    %li In the varlist tab, delete the varnumber column
    %li Delete any blank rows at the end of the file and save as a csv

  %h4 Steps for producing the files for the Directory Data Table:
  %ul
    %li Go to: #{link_to "IPEDS Data", "https://nces.ed.gov/ipeds/use-the-data"}
    %li Go to: Survey Data > Complete Data Files
    %li Download the most recent directory dataset
    %li Save file as xlsx


  %h3 CIP Code Lookup Table
  %p
    The Classification of Instructional Programs (CIP) provides a taxonomic
    scheme that supports the accurate tracking and reporting of fields of study
    and program completions activity. CIP was originally developed by the U.S.
    Department of Education's National Center for Education Statistics (NCES)
    in 1980, with revisions occurring in 1985, 1990, 2000, 2010 and 2020. The
    CIP Code Lookup Table is sourced from the resources provided by
    #{link_to "NCES", "https://nces.ed.gov/ipeds/cipcode/default.aspx?y=56"}.

  %h4 Steps for producing the file for the CIP Code Lookup Table:
  %ul
    %li Download the Crosswalk-2010-2020 file (downloads as csv)
    %li Save file as xlsx

  %h3 STEM CIP Code Lookup Table
  %p
    Certain F-1 students who receive science, technology, engineering, and
    mathematics (STEM) degrees may apply for a 24-month extension of their
    post-completion optional practical training (OPT). The Department of
    Homeland Security maintains a complete list of fields that fall within the
    regulatory definition of “STEM field” that qualifies certain degrees to
    fulfill the extension requirement. This list is known as the
    #{link_to "STEM Designated Degree Programs", "https://studyinthestates.dhs.gov/stem-opt-hub/additional-resources/eligible-cip-codes-for-the-stem-opt-extension"}.
    The Department of Education’s Classification of Instructional Program (CIP)
    taxonomy system serves as the basis for the STEM OPT extension.
    Since the CIP codes are published in pdf files, data for the STEM CIP Code
    Lookup Table are copied from a
    #{link_to "NAFSA resource", "https://www.nafsa.org/regulatory-information/dhs-stem-designated-degree-program-list"}.

  %h4 Steps for producing the file for the STEM CIP Code Lookup Table:
  %ul
    %li Copy the NAFSA table and paste into an Excel file
    %li Rename the 2020 CIP Code column to CIP Code 2020
    %li Save as csv
