= javascript_include_tag 'application'

%h2 Introduction
This page is devoted to statistics and plots demonstrating the number of gate counts and the number of people coming into the libraries. 

%ul

The overview page contains this information for the general UPenn population for all of the fiscal years currently recorded in Metridoc.

%ul

The Populations and Penetration page breaks down the gate counts and number of visitors information by school and undergraduate/graduate population. 

%ul

For any plot with a legend you may click on a label(/s) to eliminate that data from the plot, showing only the data groups that remain. 

%hr

%h2 Resources

%h3 Dashboards

%li= link_to "Overview", "gate_counts_overview"
%li= link_to "Populations & Penetration", "population_penetration"

%h3 Tables
%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"

%hr

%h2 Additional Details

%ul

  %li Covid-19: 
  %li Table Construction: The gate_count_card_swipes table has two columns that seem to indicate “user” information (i.e.-staff, student, undergraduate student). These columns are “usc_desc” and “user_group”. The “user_group” column is more accurate in terms of distinguishing between staff that are taking classes (who may be listed as “student” in usc_desc) and full time students. Note that this “user_group” column arises from a match with ALMA data. However, the further back in time you go (i.e.-before COVID) many students are classified as “purge” by ALMA (mostly seniors who graduated that year).
  %li Deduplication: Note that it is possible that it is possible that there are exist multiple swipes for a person’s entry. 
  %li Demographic Enrichment 
