= javascript_include_tag 'application'

%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"
    %li= link_to "Statistical Summary", "statistical_summary"


#data-viz
  %h2= t 'active_admin.gatecount.columns_heading'
  #single-col
    %h2 Card Swipes Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: GateCount::CardSwipe.where(door_name: "BIO LIBRARY TURNSTILE GATE_ *JSN").where(swipe_date: '2022-07-01 00:00:00'..'2023-06-30 00:00:00').group_by_month(:swipe_date).count}, {name: "Furness", data: GateCount::CardSwipe.where(door_name: "FURNESS TURNSTILE_ *FUR").where(swipe_date: '2022-07-01 00:00:00'..'2023-06-30 00:00:00').group_by_month(:swipe_date).count},{name: "Van Pelt", data: GateCount::CardSwipe.where("door_name = ? OR door_name = ? OR door_name = ? OR door_name = ?","VAN PELT LIBRARY TURN1_ *VPL","VAN PELT LIBRARY TURN2_ *VPL","VAN PELT LIBRARY USC HANDICAP ENT VERIFY_ *VPL","VAN PELT LIBRARY ADA DOOR_ *VPL").where(swipe_date: '2022-07-01 00:00:00'..'2023-06-30 00:00:00').group_by_month(:swipe_date).count}], xtitle:"Months", ytitle: "Gate Counts", legend: true, download: true

%h2 Percentage of Gate Counts By School
#data-viz
#left-col
  %h3 Graduate Students
  =pie_chart GateCount::CardSwipe.where(user_group:"Grad Student").where.not("school=? OR school = ?","Penn Libraries","School of Social Policy & Practice").group(:school).count, download: true
#right-col
  %h3 Undergraduate Students
  =pie_chart GateCount::CardSwipe.where(user_group:"Undergraduate Student").where("school=? OR school=? OR school=? OR school=?","College of Arts & Sciences","The Wharton School","School of Engineering and Applied Science","School of Nursing").group(:school).count, download: true

%h2= t 'active_admin.gatecount.columns_heading'
#single-col
  =column_chart GateCount::CardSwipe.where(school:"College of Arts & Sciences").group_by_week(:swipe_date, range: '2023-01-01 00:00:00'..'2023-06-30 00:00:00').count, download: true
