= javascript_include_tag 'application'

%section
  %h2 Introduction
  %p
    This page is devoted to statistics and plots demonstrating the number of gate counts and the number of people coming into the libraries. 

  %ul

  %p
    The overview page contains this information for the general UPenn population for all of the fiscal years currently recorded in Metridoc.

  %ul

  %p
    The Populations and Penetration page breaks down the gate counts and number of visitors information by school and undergraduate/graduate population. 

  %ul

  %p
    For any plot with a legend you may click on a label(/s) to eliminate that data from the plot, showing only the data groups that remain. 

%hr

-form.select :school, ['College of Arts & Sciences',"The Wharton School","Annenberg School for Communication","School of Dental Medicine","School of Design",'Graduate School of Education','School of Engineering and Applied Science','Law School',"Perelman School of Medicine","Veterinary Medicine","School of Nursing","School of Social Policy & Practice"]

%h2 Resources

%h3 Dashboards
%ul

  %li= link_to "Overview", "gate_counts_overview"
  %li= link_to "Populations & Penetration", "population_penetration"

%h3 Tables
%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"

%hr

%h2 Additional Details
%ul
  %li Covid-19: the data points for April 2020 through July 2022 are extremely low due to closures/restrictions on the libraries due to COVID. 
  %li Table Construction: The gate_count_card_swipes table has two columns that seem to indicate “user” information (i.e.-staff, student, undergraduate student). These columns are “usc_desc” and “user_group”. The “user_group” column is more accurate in terms of distinguishing between staff that are taking classes (who may be listed as “student” in usc_desc) and full time students. Note that this “user_group” column arises from a match with ALMA data. However, the further back in time you go (i.e.-before COVID) many students are classified as “purge” by ALMA (mostly seniors who graduated that year). Note that the school names contained within the enrollments table are not the same as those in the gate_count_card_swipes table.
  %li Deduplication: Note that it is possible that there exist multiple swipes for a person’s entry. 
  %li Demographic Enrichment: Biotech library data was manually recorded from 2016-2020, this data is not included in the gate_count_card_swipes table. 
