= javascript_include_tag 'application'

%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"
    %li= link_to "Statistical Summary", "statistical_summary"


#data-viz
  %h2= t 'active_admin.gatecount.columns_heading'
  #left-col
    %h3= t 'active_admin.gatecount.left_column_heading'
    = pie_chart GateCount::CardSwipe.group(:door_name).count.sort_by {|k,v| v}.reverse[0..9], download: true
  #right-col
    %h3= t 'active_admin.gatecount.right_column_heading'
    = line_chart GateCount::CardSwipe.where(door_name:"BIO LIBRARY TURNSTILE GATE_ *JSN").where(swipe_date: '2022-07-01 00:00:00'..'2023-06-30 00:00:00').group_by_month(:swipe_date).count, min: 0, max: 20000, xmin: "2022-07-01", xmax: "2023-06-30", xtitle:"Months", ytitle: "Gate Counts", legend: true, download: true
