= javascript_include_tag 'application'

%section
  %h2="Introduction"

  This page is devoted to statistics and plots demonstrating the number of gate counts and the number of people coming into the libraries. 

  %ul

    %li The Overview page contains this information for the general UPenn population for all of the fiscal years currently recorded in Metridoc.

    %li The Populations and Penetration page breaks down the gate counts and number of visitors information by school and undergraduate/graduate population. 

    %li For any plot with a legend you may click on a label(/s) to eliminate that data from the plot, showing only the data groups that remain. 

%hr

%h2<= "Resources"

%h3 Dashboards
%ul
  %li= link_to "Overview", "gate_counts_overview"
  %li= link_to "Populations & Penetration", "population_penetration"

-schools=['College of Arts & Sciences',"The Wharton School","Annenberg School for Communication","School of Dental Medicine","School of Design",'Graduate School of Education','School of Engineering and Applied Science','Law School',"Perelman School of Medicine","Veterinary Medicine","School of Nursing","School of Social Policy & Practice"]

-libraries=["Van Pelt","Biotech","Furness"]


%p{style: "text-align:center; font-size: 1.25em;"}
  %strong
    Use this form to generate your own version of the following plot!

%center
  = form_tag({:contoller => admin_population_penetration_path, :action => "population"}, remote: true, method: :post) do
    %table{:style => "background-color:#DADADA"}
      %tr
        %td Select Library
        %td= select_tag "library", options_for_select(libraries, libraries[0])
        %td
      %tr
        %td Select School
        %td= select_tag "school", options_for_select(schools, schools[0])
        %td{rowspan:"3"}= submit_tag "Submit"

-libraries=["Van Pelt","Biotech","Furness"]

-school_index=(0..schools.length-1).to_a

-sas_gen_table=gen_stats(freq_table,2023,"Van Pelt","College of Arts & Sciences")
-ymax,percents_single,percents_medium,percents_freq=time_counts(sas_gen_table,"Weekly","Frequency",0)

#data-viz
  #single-col
    %h2{style: "text-align:center;"} Frequency of College of Arts and Sciences Visitors to the Van Pelt Library, Spring Semester 2023
    = column_chart [{name: "Single Visit", data: percents_single},{name: "Medium Visits", data: percents_medium}, {name:"Freq Visits", data: percents_freq}], xtitle:"Week of the Semester", ytitle: "Percent of the School Population", legend: true, dataset:{borderWidth:0}, max: ymax, stacked: true, download: true  

%p{style: "text-align:center; font-size: 1.25em;"} Note that the y-scale of the plot above is set to the percent of the college population that used the library over the course of the semester. The bars indicate the percent of library users that went to the library within a given week. 


%h3 Tables
%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"

%hr

%h2 Additional Details
%ul
  %li
    %strong Covid-19:
    the data points for April 2020 through July 2022 are extremely low due to closures/restrictions on the libraries due to COVID. 
  %li
    %strong Table Construction:
    The gate_count_card_swipes table has two columns that seem to indicate “user” information (i.e.-staff, student, undergraduate student). These columns are “usc_desc” and “user_group”. The “user_group” column is more accurate in terms of distinguishing between staff that are taking classes (who may be listed as “student” in usc_desc) and full time students. Note that this “user_group” column arises from a match with ALMA data. However, the further back in time you go (i.e.-before COVID) many students are classified as “purge” by ALMA (mostly seniors who graduated that year). Note that the school names contained within the enrollments table are not the same as those in the gate_count_card_swipes table.
  %li
    %strong Deduplication:
    Note that it is possible that there exist multiple swipes for a person’s entry. 
  %li
    %strong Demographic Enrichment:
    Biotech library data was manually recorded from 2016-2020, this data is not included in the gate_count_card_swipes table. 
