= javascript_include_tag 'population','application'

%ul

  %li= link_to "Undergraduate Statistics", "undergraduate_statistics"
  %li= link_to "Graduate Statistics", "graduate_statistics"
  %li= link_to "Faculty & Staff Statistics", "faculty_staff_statistics"

-libraries=["Van Pelt","Biotech","Furness"]

-schools=['College of Arts & Sciences',"The Wharton School","Annenberg School for Communication","School of Dental Medicine","School of Design",'Graduate School of Education','School of Engineering and Applied Science','Law School',"Perelman School of Medicine","Veterinary Medicine","School of Nursing","School of Social Policy & Practice"]

-libraries=["Van Pelt","Biotech","Furness"]
-years=(2016..2023).to_a
-semesters=["Spring","Fall"]
      

%p{style: "font-size: 1.25em;"}
  %strong
    Use this form to generate your own version of the following plot!
    The default year is 2023 if no data exists for the library for the year selected.   

%center
  = form_tag({:contoller => admin_population_penetration_path, :action => "population"}, remote: true, method: :post) do
    %table{:style => "background-color:#DADADA"}
      %tr
        %td Select Library
        %td= select_tag "library", options_for_select(libraries, libraries[0])
        %td
      %tr
        %td Select Fiscal Year
        %td= select_tag "year", options_for_select(years, years[-1])
        %td 
      %tr
        %td Select Semester
        %td= select_tag "semester", options_for_select(semesters, semesters[0])
        %td
      %tr
        %td Select School
        %td= select_tag "school", options_for_select(schools, schools[0])
        %td{rowspan:"3"}= submit_tag "Submit"

-#input_school=@input_school.nil? ? 'College of Arts & Sciences' : @input_school
-#input_library=@input_library.nil? ? 'Van Pelt' : @input_library
-#semester=@semester.nil? ? "Spring" : @semester

-input_school=params[:school].nil? ? 'College of Arts & Sciences' : params[:school]
-input_library=params[:library].nil? ? 'Van Pelt' : params[:library]
-semester=params[:semester].nil? ? "Spring" : params[:semester]
-input_year=params[:year].nil? ? "2023" : params[:year]

-school_index=schools.find_index(input_school)

%hr
%h2{style: "text-align:center;"}="Fiscal Year #{input_year} School Population Statistics"

%p{style:"font-size: 1.25em;"} Note that these plots are generated from the combined undergraduate/graduate student population for each school. The y-scale of the plot above is set to the percent of the college population that used the library over the course of the semester. The bars indicate the percent of library users that went to the library within a given week.

-gen_school_table=gen_stats(freq_table(semester),input_year,input_library,input_school)

-ymax,percents_single,percents_medium,percents_freq=freq_counts(gen_school_table,input_year,school_index)

#data-viz
  #single-col
    %h2{style: "text-align:center;"}="Frequency of #{input_school} Visitors to the #{input_library} Library, #{semester} Semester Fiscal Year #{input_year}"
    = column_chart [{name: "Single Visit", data: percents_single},{name: "Medium Visits", data: percents_medium}, {name:"Freq Visits", data: percents_freq}], xtitle:"Week of the Semester", ytitle: "Percent of the School Population", legend: true, dataset:{borderWidth:0}, max: ymax, stacked: true, suffix: "%", round: 2, library: {scales: {yAxes: [{id: 'y-axis', type: 'linear', ticks: {autoskip: false, steps: 10}}]}}, download: true  
