= javascript_include_tag 'application'

%ul

  %li= link_to "Undergraduate Statistics", "undergraduate_statistics"
  %li= link_to "Graduate Statistics", "graduate_statistics"

-pop_baseline={"1":1,"26":1}
-user_baseline=Hash.new
-for i in (0..25).to_a
  -user_baseline["#{i+1}"]=0.7

-#new Chartkick.ColumnChart("chart",[{"name": "Single Visit", "data": percents_single},{"name": "Medium Visits", "data": percents_medium}, {"name":"Freq Visits", "data": percents_freq},{"name":"User Baseline", "data":user_baseline}], { library: { series: { 0: { color: "red"}, 1: { type: "line", color: "yellow" }, 2: { type: "line", color: "blue" },  3: { type: "line", color: "black" } } } });

#data-viz
  #single-col
    -#column_chart([{"name":"User Baseline", "data":user_baseline},{"name": "Single Visit", "data": percents_single},{"name": "Medium Visits", "data": percents_medium}, {"name":"Freq Visits", "data": percents_freq}],  library: { :series => { 0 => { type: "line_chart"}}})

-libraries=["Van Pelt","Biotech","Furness"]

-schools=['College of Arts & Sciences',"The Wharton School","Annenberg School for Communication","School of Dental Medicine","School of Design",'Graduate School of Education','School of Engineering and Applied Science','Law School',"Perelman School of Medicine","Veterinary Medicine","School of Nursing","School of Social Policy & Practice"]

-school_index=(0..schools.length-1).to_a

%hr
%h2{style: "text-align:center;"} Fiscal Year 2023 School Population Statistics

-# Make a form to select a school for an output plot
%center
  = form_tag({:controller => admin_gatecount_path,
      :action => "frequency"},
      {:method => :get}) do
    %table{:style => "background-color:#DADADA"}
      %tr
        %td Select School
        %td
        %td= select_tag "school", options_for_select(schools, schools[0])
      %tr
        %td Select Library
        %td
        %td= select_tag "library", options_for_select(libraries, libraries[0])
        %td{rowspan:"3"}= submit_tag "Submit"

-sas_gen_table=gen_stats(freq_table,2023,"Van Pelt","College of Arts & Sciences")
-percents_zero,percents_single,percents_medium,percents_freq=time_counts(sas_gen_table,"Weekly","Frequency",0)

#data-viz
  #single-col
    %h2{style: "text-align:center;"} Frequency of College of Arts and Sciences Visitors to the Van Pelt Library, Spring Semester 2023
    = column_chart [{name: "Single Visit", data: percents_single},{name: "Medium Visits", data: percents_medium}, {name:"Freq Visits", data: percents_freq}], xtitle:"Week of the Semester", ytitle: "Percent of the School Population", legend: true, dataset:{borderWidth:0}, max: 0.7, stacked: true, download: true   

Note that the y-scale of the plot above is set to the percent of the college population that used the library over the course of the semester. The bars indicate the percent of library users that went to the library within a given week.

%hr

-#Now just need to get the y-axis to be the correct amount!

-input_table=freq_table

-for s in school_index
  -school_gen_table=gen_stats(input_table,2023,"Van Pelt",schools[s])
  -ymax,percents_single,percents_medium,percents_freq=time_counts(school_gen_table,"Weekly","Frequency",s)

  #data-viz
    #single-col
      %h2{style: "text-align:center;"}="Frequency of #{schools[s]} Visitors to the Van Pelt Library, Spring Semester 2023"
      = column_chart [{name: "Single Visit", data: percents_single},{name: "Medium Visits", data: percents_medium}, {name:"Freq Visits", data: percents_freq}], xtitle:"Week of the Semester", ytitle: "Percent of the School Population", legend: true, dataset:{borderWidth:0}, max: ymax, stacked: true, download: true   
