= javascript_include_tag 'population','application'

%ul

  %li= link_to "Undergraduate Statistics", "undergraduate_statistics"
  %li= link_to "Graduate Statistics", "graduate_statistics"

-libraries=["Van Pelt","Biotech","Furness"]

-schools=['College of Arts & Sciences',"The Wharton School","Annenberg School for Communication","School of Dental Medicine","School of Design",'Graduate School of Education','School of Engineering and Applied Science','Law School',"Perelman School of Medicine","Veterinary Medicine","School of Nursing","School of Social Policy & Practice"]

-input_school=params[:school].nil? ? 'College of Arts & Sciences' : params[:school]

-input_library=params[:library].nil? ? 'Van Pelt' : params[:library]

-school_index=schools.find_index(input_school)

-puts school_index

-# Make a form to select a school for an output plot
%center
  = form_tag({:contoller => admin_population_penetration_path}, remote: true, method: :get) do
    %table{:style => "background-color:#DADADA"}
      %tr
        %td Select Library
        %td= select_tag "library", options_for_select(libraries, libraries[0])
        %td
      %tr
        %td Select School
        %td= select_tag "school", options_for_select(schools, schools[0])
        %td{rowspan:"3"}= submit_tag "Submit"

-test_school=@input_school.nil? ? 'Failure' : @input_school

-puts test_school

%hr
%h2{style: "text-align:center;"} Fiscal Year 2023 School Population Statistics

Note that the y-scale of the plot below is set to the percent of the college population that used the library over the course of the semester. The bars indicate the percent of library users that went to the library within a given week.

-gen_school_table=gen_stats(freq_table,2023,input_library,input_school)

-ymax,percents_single,percents_medium,percents_freq=time_counts(gen_school_table,"Weekly","Frequency",school_index)

#data-viz
  #single-col
    %h2{style: "text-align:center;"}="Frequency of #{input_school} Visitors to the #{input_library} Library, Spring Semester 2023"
    = column_chart [{name: "Single Visit", data: percents_single},{name: "Medium Visits", data: percents_medium}, {name:"Freq Visits", data: percents_freq}], xtitle:"Week of the Semester", ytitle: "Percent of the School Population", legend: true, dataset:{borderWidth:0}, max: ymax, stacked: true, refresh: 15, download: true  
