= javascript_include_tag 'application'

-furn_yearly=gen_stats(time_table,"All","Furness")
-bio_yearly=gen_stats(time_table,"All","Biotech")
-vp_yearly=gen_stats(time_table,"All","Van Pelt")

-furn_yearly_counts=time_counts(furn_yearly,"Yearly","Counts")
-bio_yearly_counts=time_counts(bio_yearly,"Yearly","Counts")
-vp_yearly_counts=time_counts(vp_yearly,"Yearly","Counts")

-furn_yearly_people=time_counts(furn_yearly,"Yearly","People")
-bio_yearly_people=time_counts(bio_yearly,"Yearly","People")
-vp_yearly_people=time_counts(vp_yearly,"Yearly","People")

#data-viz
  #single-col
    %h2 Card Swipes Per Fiscal Year Per Library
    = line_chart [{name: "BioTech", data: bio_yearly_counts}, {name: "Furness", data: furn_yearly_counts},{name: "Van Pelt", data: vp_yearly_counts}], xtitle:"Years", ytitle: "Gate Counts", legend: true, curve: false, download: true

#data-viz
  #single-col
    %h2 Number of Visitors Per Fiscal Year Per Library
    = line_chart [{name: "BioTech", data: bio_yearly_people}, {name: "Furness", data: furn_yearly_people},{name: "Van Pelt", data: vp_yearly_people}], xtitle:"Years", ytitle: "Number of Visitors", legend: true, curve: false, download: true

-furness_2023_table=gen_stats(time_table,2023,"Furness")
-biotech_2023_table=gen_stats(time_table,2023,"Biotech")
-vp_2023_table=gen_stats(time_table,2023,"Van Pelt")

-furn_2023_counts=time_counts(furness_2023_table,"Monthly","Counts")
-vp_2023_counts=time_counts(vp_2023_table,"Monthly","Counts")
-bio_2023_counts=time_counts(biotech_2023_table,"Monthly","Counts")

-furn_2023_people=time_counts(furness_2023_table,"Monthly","People")
-vp_2023_people=time_counts(vp_2023_table,"Monthly","People")
-bio_2023_people=time_counts(biotech_2023_table,"Monthly","People")

#data-viz
  #single-col
    %h2 Card Swipes Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: bio_2023_counts}, {name: "Furness", data: furn_2023_counts},{name: "Van Pelt", data: vp_2023_counts}], xtitle:"Months", ytitle: "Gate Counts", legend: true, curve: false, download: true

#data-viz
  #single-col
    %h2 Number of Visitors Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: bio_2023_people}, {name: "Furness", data: furn_2023_people},{name: "Van Pelt", data: vp_2023_people}], xtitle:"Months", ytitle: "Number of Visitors", legend: true, curve: false, download: true   

-sas=gen_stats(freq_table,2023,"Van Pelt")

-vp_gen_table=gen_stats(time_table,"All","Van Pelt")

-vp_all_counts=time_counts(vp_gen_table,"All","Counts")

-month_names=["July","August","September","October","November","December","January","February","March","April","May","June","Total"]

-month_range=(0..12).to_a

-year_range=[2016,2017,2018,2019,2020,2021,2022,2023]

-year_index=(0..year_range.length-1).to_a

%h2{style: "text-align:left;"} Van Pelt Monthly Gate Counts

%table{align: "left", border: "1", cellpadding: "5"}
  %thead
    %tr
      %td Fiscal Year
      -for i in year_index
        -fiscal_year=year_range[i]
        %td="#{fiscal_year}"
  %tbody
    -for m in month_range
      %tr
      -column_title=month_names[m]
      %td="#{column_title}"
      -for i in year_index
        -data=vp_all_counts[i][month_names[m]]
        %td="#{data}"

-furn_gen_table=gen_stats(time_table,"All","Furness")

-furn_all_counts=time_counts(furn_gen_table,"All","Counts")

-year_range=[2019,2020,2021,2022,2023]

-year_index=(0..year_range.length-1).to_a

%h2{style: "text-align:right;"} Furness Monthly Gate Counts

%table{align: "right", border: "1", cellpadding: "5"}
  %thead
    %tr
      %td Fiscal Year
      -for i in year_index
        -fiscal_year=year_range[i]
        %td="#{fiscal_year}"
  %tbody
    -for m in month_range
      %tr
      -column_title=month_names[m]
      %td="#{column_title}"
      -for i in year_index
        -data=furn_all_counts[i][month_names[m]]
        %td="#{data}"

-bio_gen_table=gen_stats(time_table,"All","Biotech")

-bio_all_counts=time_counts(bio_gen_table,"All","Counts")

-year_range=[2022,2023]

-year_index=(0..year_range.length-1).to_a

-bio_2019=[7374,6845,9503,11208,9407,8719,6486,9469,9581,11740,8010,8689,107031]
-bio_2020=[9271,8631,12122,13036,9764,9624,7683,11430,4295,0,0,0,85856]

%h2{style: "text-align:left;"} Biotech Monthly Gate Counts

%table{align: "left", border: "1", cellpadding: "5"}
  %thead
    %tr
      %td Fiscal Year
      %td 2019
      %td 2020
      -for i in year_index
        -fiscal_year=year_range[i]
        %td="#{fiscal_year}"
  %tbody
    -for m in month_range
      %tr
      -column_title=month_names[m]
      %td="#{column_title}"
      %td=bio_2019[m]
      %td=bio_2020[m]
      -for i in year_index
        -data=bio_all_counts[i][month_names[m]]
        %td="#{data}"
