= javascript_include_tag 'application'

-furn_yearly=gen_stats(time_table,"All","Furness")
-bio_yearly=gen_stats(time_table,"All","Biotech")
-vp_yearly=gen_stats(time_table,"All","Van Pelt")

-furn_yearly_counts=time_counts(furn_yearly,"Yearly","Counts")
-bio_yearly_counts=time_counts(bio_yearly,"Yearly","Counts")
-vp_yearly_counts=time_counts(vp_yearly,"Yearly","Counts")

-furn_yearly_people=time_counts(furn_yearly,"Yearly","People")
-bio_yearly_people=time_counts(bio_yearly,"Yearly","People")
-vp_yearly_people=time_counts(vp_yearly,"Yearly","People")

#data-viz
  #single-col
    %h2 Card Swipes Per Fiscal Year Per Library
    = line_chart [{name: "BioTech", data: bio_yearly_counts}, {name: "Furness", data: furn_yearly_counts},{name: "Van Pelt", data: vp_yearly_counts}], xtitle:"Years", ytitle: "Gate Counts", legend: true, curve: false, download: true

#data-viz
  #single-col
    %h2 Number of Visitors Per Fiscal Year Per Library
    = line_chart [{name: "BioTech", data: bio_yearly_people}, {name: "Furness", data: furn_yearly_people},{name: "Van Pelt", data: vp_yearly_people}], xtitle:"Years", ytitle: "Number of Visitors", legend: true, curve: false, download: true

-furness_2023_table=gen_stats(time_table,2023,"Furness")
-biotech_2023_table=gen_stats(time_table,2023,"Biotech")
-vp_2023_table=gen_stats(time_table,2023,"Van Pelt")

-furn_2023_counts=time_counts(furness_2023_table,"Monthly","Counts")
-vp_2023_counts=time_counts(vp_2023_table,"Monthly","Counts")
-bio_2023_counts=time_counts(biotech_2023_table,"Monthly","Counts")

-furn_2023_people=time_counts(furness_2023_table,"Monthly","People")
-vp_2023_people=time_counts(vp_2023_table,"Monthly","People")
-bio_2023_people=time_counts(biotech_2023_table,"Monthly","People")

#data-viz
  #single-col
    %h2 Card Swipes Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: bio_2023_counts}, {name: "Furness", data: furn_2023_counts},{name: "Van Pelt", data: vp_2023_counts}], xtitle:"Months", ytitle: "Gate Counts", legend: true, curve: false, download: true

#data-viz
  #single-col
    %h2 Number of Visitors Per Month Per Library Fiscal Year 2023
    = line_chart [{name: "BioTech", data: bio_2023_people}, {name: "Furness", data: furn_2023_people},{name: "Van Pelt", data: vp_2023_people}], xtitle:"Months", ytitle: "Number of Visitors", legend: true, curve: false, download: true   

-sas=gen_stats(freq_table,2023,"Van Pelt")

-vp_gen_table=gen_stats(time_table,"All","Van Pelt")

-vp_all_counts=time_counts(vp_gen_table,"All","Counts")

-year_range=[2017,2018,2019,2020,2021,2022,2023]

-year_index=(0..year_range.length-1).to_a

%h2{style: "text-align:left;"} Van Pelt Monthly Gate Counts

%table{align: "left", border: "1", cellpadding: "5"}
  %thead
    %tr
      %td Month
      -for i in year_index
        -first_year=year_range[i]
        -next_year=year_range[i]+1
        %td="#{first_year}-#{next_year}"
  %tbody
    %tr
      %td January
      -for i in year_index
        %td{align: "right"}=vp_all_counts[i]["January"]
    %tr
      %td February
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 2398
    %tr
      %td March
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 68
    %tr
      %td April
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 789
    %tr
      %td May
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 768
    %tr
      %td June
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 1664
    %tr
      %td July
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 4140
    %tr
      %td August
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 993
    %tr
      %td September
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 2122
    %tr
      %td October
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 571
    %tr
      %td November
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 607
    %tr
      %td December
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} Replace
      %td{align: "right"} 663
