= javascript_include_tag 'application'

%section
  %h2 Introduction

  The #{link_to "PALCI", "https://palci.org/"} (Partnership for Academic Library
  Collaboration and Innovation) Consortium provides an expedited
  interlibrary loan service called EZBorrow.  The consortium consists of around
  50 institutions in Pennsylvania, West Virginia, and New York. The EZBorrow
  service is managed through an open-source community-owned resource sharing
  solution called #{link_to "Project Reshare", "https://projectreshare.org/"}
  by #{link_to "Index Data", "https://www.indexdata.com/"}.  Before the
  implementation of Project ReShare in August 2021, the data was managed by
  #{link_to "Relais ILL", "https://www.oclc.org/en/relais-ill.html"} from
  #{link_to "OCLC", "https://www.oclc.org/en/home.html"}.

%hr
%section
  %h2 Resources

  %h3 Dashboards
  %ul
    %li Coming soon...

  %h3 Data
  %ul
    %li #{link_to "Relais Data", :admin_ezborrow} - before August 2021
    %li #{link_to "ReShare Data", :admin_reshare} - since August 2021
