= javascript_include_tag 'application'

%h2= "Resources"
%ul
  - resources.each do |resource|
    %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"

%hr

%h2 BorrowDirect Fiscal Year Statistical Summary
To get the summary statistics for any year or library, select the fiscal year |
and the library name of interest. The default is set to the current year |
and the summary of all library borrowing and lending. Please be patient while |
the database is being queried. |

-# Calculate today's date
- today = Date.today()
-# Find today's fiscal year
- max_fiscal_year = today.mon > 6 ? today.year + 1 : today.year
-# Build the selection of possible fiscal years
- years = max_fiscal_year.downto(2014).to_a.map {|year| [year.to_s, year]}

-# Get the list of libraries
- libraries = [["All Libraries", -1]] + library_map_bd()

%center
  = form_tag(admin_borrowdirect_path,
      method: :post) do
    %table{:style => "background-color:#DADADA"}
      %tr
        %td Select fiscal year
        %td= select_tag "fiscal_year", options_for_select(years)
        %td{:rowspan => 2}= submit_tag "Submit"
      %tr
        %td Select Institution
        %td= select_tag "library_id", options_for_select(libraries)
%br

%hr

#data-viz
  %h2= t 'active_admin.borrowdirect.columns_heading'
  #left-col
    %h3= t 'active_admin.borrowdirect.left_column_heading'
    = pie_chart display_names_bd(Borrowdirect::Bibliography.group(:borrower).count.sort_by {|k,v| v}.reverse[0..9]), download: true
  #right-col
    %h3= t 'active_admin.borrowdirect.right_column_heading'
    = bar_chart display_names_bd(Borrowdirect::Bibliography.group(:lender).count.sort_by {|k,v| v}.reverse[0..9]), download: true
