= javascript_include_tag 'application'
%h2 Fiscal Year EZProxy Usage
%ul
  %li Minimum Date Included: #{Ezproxy::EzpaarseHourlyUsage.minimum(:date).strftime("%F")}
  %li Maximum Date Included: #{Ezproxy::EzpaarseHourlyUsage.maximum(:date).strftime("%F")}

%div{style: "display: grid; width: 100%; grid-template-columns: 1fr 1fr; grid-gap: 20px;"}
  - model = Ezproxy::EzpaarseHourlyUsage
  - data = ezproxy_requests_and_sessions(model, "fiscal_year", false)
  = line_chart data,
    download: true,
    thousands: ",",
    height: "400px",
    discrete: true,
    xtitle: "Fiscal Year (YTD)", ytitle: "Totals",
    title: "EZProxy Yearly Trends"

  - model = Ezproxy::EzpaarsePlatform
  - data = ezproxy_group_requests_by_fiscal_year(model, "platform_name")
  = line_chart data,
    download: true,
    thousands: ",",
    height: "400px",
    discrete: true,
    xtitle: "Fiscal Year (YTD)", ytitle: "Number of Requests",
    title: "Top 10 Platforms"

%div{style: "display: grid; width: 100%; grid-template-columns: 1fr 1fr; grid-gap: 20px;"}
  - data = ezproxy_group_requests_by_fiscal_year(model, "mime")
  = line_chart data,
    download: true,
    thousands: ",",
    height: "400px",
    discrete: true,
    xtitle: "Fiscal Year (YTD)", ytitle: "Number of Requests",
    title: "Top 10 Resource Formats"

  - data = ezproxy_group_requests_by_fiscal_year(model, "rtype")
  = line_chart data,
    download: true,
    thousands: ",",
    height: "400px",
    discrete: true,
    xtitle: "Fiscal Year (YTD)", ytitle: "Number of Requests",
    title: "Top 10 Resource Types"

%div{style: "display: grid; width: 100%; grid-template-columns: 1fr 1fr; grid-gap: 20px;"}
  - model = Ezproxy::EzpaarseUserProfile
  - data = ezproxy_group_requests_by_fiscal_year(model, "user_group")
  = line_chart data,
    download: true,
    thousands: ",",
    height: "400px",
    discrete: true,
    xtitle: "Fiscal Year (YTD)", ytitle: "Number of Requests",
    title: "Top 10 User Groups"

  - data = ezproxy_group_requests_by_fiscal_year(model, "school")
  = line_chart data,
    download: true,
    thousands: ",",
    height: "400px",
    discrete: true,
    xtitle: "Fiscal Year (YTD)", ytitle: "Number of Requests",
    title: "Top 10 Affiliations"

%hr
%h2 Further Details for the Current Fiscal Year
%ul
  %li #{link_to "Daily Usage Statistics", "/ezproxy/longitudinal_statistics"}
  %li #{link_to "Resource Statistics", "/ezproxy/resource_statistics"}
  %li #{link_to "User Profiles", "/ezproxy/user_statistics"}
  %li #{link_to "Job Report Summaries", "/ezproxy/job_report_statistics"}

