= javascript_include_tag 'application'

%section
  %h2 Introduction

  The #{link_to "PALCI", "https://palci.org/"} (Partnership for Academic Library
  Collaboration and Innovation) Consortium provides an expedited
  interlibrary loan service called EZBorrow.  The consortium consists of around
  50 institutions in Pennsylvania, West Virginia, and New York. The EZBorrow
  service is managed through an open-source community-owned resource sharing
  solution called #{link_to "Project Reshare", "https://projectreshare.org/"}
  by #{link_to "Index Data", "https://www.indexdata.com/"}.  Before the
  implementation of Project ReShare in August 2021, the data was managed by
  #{link_to "Relais ILL", "https://www.oclc.org/en/relais-ill.html"} from
  #{link_to "OCLC", "https://www.oclc.org/en/home.html"}.  A link to the
  historical Relais data can be found in the Resources section of this page.


%hr
%section
  %h2 Resources
  %h3 Dashboards
  %ul
    %li Coming soon...

  %h3 Data Tables
  %ul
    - resources.each do |resource|
      %li= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}"

  %h3 Historical Data
  %ul
    %li #{link_to "Relais EZBorrow", :admin_ezborrow}

%hr
%section
  %h2 About the Data
  %h3 ReShare Data Tables

  The #{link_to "source code", "https://github.com/openlibraryenvironment/mod-rs/tree/master/service/grails-app/domain/org/olf/rs"}
  for the domain model is hosted on GitHub.  Below are some relevant details for
  the portion of the data replicated in MetriDoc.

  %ul
    %li
      Patron Requests
      %ul
        %li Describes the interaction between an institution (origin) and a request (pr_hrid).
        %li Records are updated when a status changes.
        %li Table contains a unique key of the pr_id.
    %li
      Patron Requests Rota
      %ul
        %li Describes the rota of institutional sources (origin) for a request (prr_patron_request_fk).
        %li Records are updated when a status changes.
        %li Table contains a unique key of the prr_id.
    %li
      Directory Entry
      %ul
        %li Describes locations set up in the Library Management Systems for each institution (origin).
        %li One institution can have many locations for patrons to collect their items.
        %li The field de_parent traces the location to the parent institution.
        %li Table contains a paired unique key of the de_id and the origin.
    %li
      Symbol
      %ul
        %li Describes the symbolic name used in the patron request rota creation.
        %li The field prr_peer_symbol_fk is the sym_id in the symbols table.
        %li The field sym_owner_fk is the de_id in the directory entries table for the specified origin.
        %li This lookup table connects a rota listing to an institution.
        %li Table contains a unique key of the sym_id.

  %h3 Derived Tables

  The derived tables are synthesized from the ReShare hosted tables.
  These tables were developed in open collaboration in order to target reports requested by users.
  The code is hosted on #{link_to "GitHub", "https://github.com/openlibraryenvironment/reshare-analytics/tree/main/sql/derived_tables"}.

  %ul
    %li
      Consortial View
      %ul
        %li The consortial view table matches a lender to a borrower with further details on the request.
        %li Records are created for any item where the request is complete or shipped from the requesting institution.
        %li This table will be most similar to the Relais Bibliography table.
        %li This table is unique on the field cv_patron_request_fk.
    %li
      Overdue items - Borrower (ReqOverdue)
      %ul
        %li List of items that are currently overdue by the borrower.
        %li This table is remade on each refresh of the data to account for resolved overdue items.
        %li This table is unique on the field ro_hrid.
    %li
      Overdue items - Lender (SupOverdue)
      %ul
        %li List of lent items that are currently overdue.
        %li This table is remade on each refresh of the data to account for resolved overdue items.
        %li This table is unique on the fields so_hrid and so_supplier.
    %li
      Item Status History - Borrower (ReqStat)
      %ul
        %li Historical list of changes in status of key points in a request's lifecycle.
        %li From the point of view of the Borrowing institution.
    %li
      Item Status History - Lender (SupStat)
      %ul
        %li Historical list of changes in status of key points in a request's lifecycle.
        %li From the point of view of the Lending institution.
    %li
      Item Status History Key Points - Lender (SupTatStat)
      %ul
        %li Historical list of changes in status of key points in a request's lifecycle.
        %li From the point of view of the Lending institution.
        %li Extracts the earliest unique status change.


  %h4 Tables used for item turnaround calculations only:

  %ul
    %li
      Request Made - Borrower (RtatReq)
      %ul
        %li Initial request record for the item.
        %li This table is unique on the field rtr_hrid.
    %li
      Request Shipped - Borrower (RtatShip)
      %ul
        %li List of items that move from expected to supply to shipped.
        %li This table is unique on the field rts_req_id.
    %li
      Request Received - Borrower (RtatRec)
      %ul
        %li List of items that are "Checked In" by the borrowing institution.
        %li This table is unique on the field rtre_req_id.
    %li
      Request Made - Lender (StatRec)
      %ul
        %li Initial notification of a request record for the item.
        %li This table is unique on the fields str_id and str_supplier.
    %li
      Request Assigned - Lender (StatAssi)
      %ul
        %li Initial interaction by a potential lender (sta_supplier) with a request for the item.
        %li This table is unique on the fields sta_req_id and sta_supplier.
    %li
      Request Filled - Lender (StatFill)
      %ul
        %li Verification an item will be filled by the lender (stf_supplier).
        %li This table is unique on the fields stf_req_id and stf_supplier.
    %li
      Request Shipped - Lender (StatShip)
      %ul
        %li Item shipped from the lender.
        %li This table is unique on the fields sts_req_id and sts_supplier.
    %li
      Request Received - Lender (StatRec)
      %ul
        %li Confirmation from the borrower that the item was received.
        %li This table is unique on the fields stre_req_id and stre_supplier.

  %h3 Report Queries
