= javascript_include_tag 'application'
%section
  %h2 Introduction
  %p{:style => "padding: 0px 0px 0px 30px;"}
    #{link_to "Ares", "https://www.atlas-sys.com/ares"}, by
    #{link_to "Atlas Systems", "https://www.atlas-sys.com/"},
    was used from Spring 2010 through Spring 2023.  There are around 75
    #{link_to "Ares Database Tables", "https://support.atlas-sys.com/hc/en-us/articles/360011923233-Ares-Database-Tables"}.
    Many of those tables are for settings within the Ares system or snapshots of
    current activity.  After evaluating the tables, nine were selected to
    preserve within Metridoc.  For access to the other tables, reach out to
    #{mail_to "sarnoa@upenn.edu", "Andy Sarno"}.

%hr
%section
  %h2 Resources
  %h3 Database Access
  %p{:style => "padding: 0px 0px 0px 30px;"}
    For those who are connecting directly to the PostgreSQL database or who are
    using the report exporting tool, the tables for Ares Course Reserves data
    begin with the prefix "cr_ares_".

  %h3 Data Tables
  %ul
    - resources.each do |resource|
      %li= link_to resource.resource_name.human, "/course_reserves/#{resource.resource_name.param_key.pluralize}"

%hr
%section
  %h2 Data Structure
  %p{:style => "padding: 0px 0px 0px 30px;"}
    The following Entity Relationship (ER) diagram describes the Ares tables
    hosted on MetriDoc and their connections.
    The table name is in bold at the top of each box.
    The primary and foreign keys are flagged with PK and FK respectively.
    The italicized column names are hidden in the online interface to protect
    personal identifying information.
    For information on accessing the backend database or to request analyses,
    reach out to #{mail_to "sarnoa@upenn.edu", "Andy Sarno"}.

  %figure{:style => "text-align: center; max-width: 850px; width: 100%; margin: auto; padding: 0px 0px;"}
    %figcaption Ares Data Table Schema
    =image_tag asset_path("AresERDiagram.png"), :alt => "Ares ER Diagram", :width => "100%", :title => "Ares ER Diagram"
