<!DOCTYPE html>
<html>
<head>
  <title>MetriDoc — Keyserver</title>
  <%= stylesheet_link_tag 'active_admin', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(asset_path('favicon.ico')) %>
</head>

<body class="index active_admin">
<div id="header" class="header">
  <h1 class="site_title" id="site_title">
    <%= image_tag('logo.png', alt: 'MetriDoc', id: 'site_title_image') %>
  </h1>
  <ul class="header-item tabs" id="tabs">
    <li><a href="/">Home</a></li>
    <li class="current"><a href="/keyserver">Keyserver</a></li>
  </ul>
</div>

<div id="active_admin_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
